%h1= t(".title")
= link_to t(".team_sign_in"), new_team_session_path unless team_signed_in?


- @crosses.each do |cross|
  - tasks =  cross.tasks
  %h2= cross.name
  %br
  %table.results
    %tr
      %th
      %th=t(".team")
      - tasks.each_with_index.each do |task, index|
        %th=t(".task", :number => index + 1)
      %th=t(".solved")
      %th=t(".hints")
      %th=t(".time")
    - cross.teams.sort_by{ |t| [ - t.solved_tasks_in(cross).size, t.general_time_in(cross)] }.each_with_index do |team, index|
      %tr
        %td= index + 1
        %td= team.name
        - tasks.each do |task|
          - guesses = team.guesses.by_task(task)
          %td
            - if guesses.any?
              - correct_guesses = guesses.select(&:correct?)
              - if correct_guesses.any?
                - time = team.time_in_task(task)
                %span.blue
                  = "+"
                  %br
                  = format_time_distance(time)
              - else
                - time = team.time_in_task(task)
                %span.grey
                  = "-"
                  %br
                  = format_time_distance(time)
        %td= team.solved_tasks_in(cross).size
        %td= team.taken_hints.by_task(tasks).size
        %td= format_time_distance(team.general_time_in(cross))
